---
import { Icon } from 'astro-icon/components'
import { getLangFromUrl, useTranslations } from '../i18n/ui'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---
<div data-code-block class="rounded group flex items-center gap-2 bg-gray-900/5 dark:bg-gray-50/10 p-2">
    <code data-code>
        <slot/>
    </code>
    <div class="relative">
        <button 
            title={t('copy.to.clipboard')}
            data-copy-button
            class="hover:scale-110 active:scale-100 text-white-200 group-hover:text-white-100 flex items-center"
        >
            <Icon name="ri:file-copy-line" class="size-5"/>
        </button>
        <p class="absolute left-1/2 top-[calc(100%+10px)] -translate-x-1/2 opacity-0 data-[visible=true]:opacity-100 bg-black/10 dark:bg-gray-50/20 transition text-sm rounded p-2 whitespace-nowrap" 
            data-tooltip>
            {t('copied')}
        </p>
    </div>
</div>

<script>
    for (const codeBlock of document.querySelectorAll('[data-code-block')) {
        const code = codeBlock.querySelector('[data-code]') as HTMLElement
        const btn = codeBlock.querySelector('[data-copy-button]') as HTMLButtonElement
        const tooltip = codeBlock.querySelector('[data-tooltip]') as HTMLElement
        btn.addEventListener('click', (e) => {
            navigator.clipboard.writeText(code.innerText)
            tooltip.dataset.visible = 'true'
            setTimeout(() => {
                tooltip.dataset.visible = 'false'
            }, 1500)
        })
    }
</script>